.workout-training {
  text-align: center;
  margin-bottom: 85px;

  @media (min-width: 540px) {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
  }

  &__tooltip {
    display: inline-block;
    width: 300px;
    padding: 20px 0;
    position: fixed;
    bottom: 92px;
    right: 9px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 5px 15px 0px alpha(#000, .3);
    border: 1px solid alpha(#7b7b7b, .3);
  }

  &__tooltip-arrow {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 100%;
    right: 13px;
    overflow: hidden;

    &::after {
     content: "";
     position: absolute;
     width: 15px;
     height: 15px;
     background: white;
     transform: translate(-50%, -50%) rotate(45deg);
     top: 0;
     left: 50%;
     box-shadow: 1px 1px 20px 0px alpha(#000, .3);
    }
  }

  &__item-link {
    display: block;
    color: $text-color;
    border-bottom: 2px solid $material-blue-rgba-medium;
    padding: $gutter-big;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }
  }
}
