.header {
  height: 66px;
  background-color: $material-blue;
  display: flex;
  align-items: center;

  &__action {
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 14px;
    height: 100%;
    width: 44px;

    &_nav {
      background-image: url(../Images/menu.svg);
      background-size: 30px;
    }

    &_prev-page {
      background-image: url(../Images/left-angle-bracket.svg);
      cursor: pointer;
    }

    &_menu {
      background-image: url(../Images/show-more.svg);
    }
  }

  &__page-name {
    color: $white;
    margin: auto;
  }

  &__nav {
    position: absolute;
    top: 66px;
    left: 0;
    height: calc(100% - 70px);
    width: 60%;
    transform: translateX(-100%);
    z-index: 100;
    background-color: $white;
    transition: transform .4s ease;
    border-left: 2px solid $material-blue-rgba-light;

    &_open {
      transform: translateX(0);
    }
  }

  &__list {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__nav-link {
    color: $text-color;
    text-decoration: none;
    display: block;
    padding: 5px 10px;

    &:hover {
      background-color: $light-grey;
    }
  }

  &__list-item {
    list-style: none;
    color: black;
  }

  &__mask {
    position: absolute;
    top: 66px;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgb(62, 62, 62);
    opacity: 0;
    z-index: 99;
    transition: opacity .8s, width 0s .8s, height 0s .8s;

    &_open {
      transition: opacity .8s;
      opacity: .9;
      width: 100%;
      height: calc(100% - 70px);
    }
  }
}
