.header {
  height: 60px;
  background-color: $material-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  &__previous-page {
    background: url(../../images/left-angle-bracket.svg) no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  &__page-name {
    color: $white;
  }

  &__account {
    background: url(../../images/show-more.svg) no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
  }

  &__nav {
    position: absolute;
    top: 70px;
    right: 0;
    height: calc(100% - 70px);
    width: 60%;
    transform: translateX(100%);
    z-index: 100;
    background-color: $white;
    transition: transform .8s ease;
    border-left: 2px solid $material-blue-rgba-light;

    &_open {
      transform: translateX(0);
    }
  }

  &__list {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__nav-link {
    color: $text-color;
    text-decoration: none;
    display: block;
    padding: 5px 10px;

    &:hover {
      background-color: $light-grey;
    }

    &_disabled {
      @extend .header__nav-link;
      pointer-events: none;
      cursor: default;
      color: #c1c1c1;
    }
  }

  &__list-item {
    list-style: none;
    color: black;
  }

  &__mask {
    position: absolute;
    top: 70px;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgb(62, 62, 62);
    opacity: 0;
    z-index: 99;
    transition: opacity .8s, width 0s .8s, height 0s .8s;

    &_open {
      transition: opacity .8s;
      opacity: .9;
      width: 100%;
      height: calc(100% - 70px);
    }
  }
}
