.workout-session {
  text-align: center;

  &__item {
    position: relative;
  }

  &__item-link {
    display: block;
    color: $text-color;
    border-bottom: 2px solid $material-blue-rgba-medium;
    padding: $gutter-big;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }
  }

  &__close-btn {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $white;
    border: none;
    background: url(../../images/cross.svg) no-repeat center;
    background-size: 20px;
    transition: all .3s ease;

    &:hover {
      background-size: 28px;
    }
  }

  &__edit-btn {
    @extend .workout-session__close-btn;
    background: url(../../images/pencil-icon.svg) no-repeat center;
    background-size: 20px;
    right: 50px;
  }
}
