.workout-session {
  text-align: center;

  &__item {
    position: relative;
  }

  &__item-link {
    display: block;
    color: $text-color;
    border-bottom: 2px solid $material-blue-rgba-medium;
    padding: $gutter-big;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }
  }
}
