{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/_bower.js' %}" ></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <form class="form-signin mg-btm">
                <h3 class="heading-desc"> Sigin</h3>
                <div class="social-box">
                    <div class="row mg-btm">
                        <div class="col-md-12">
                            <a href="{% url 'social:begin' 'google-plus' %}" class="btn btn-google-signin btn-block">
                                Sign in with Google
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-vk-signin btn-block">
                                Sign in with VK
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main-signin">

                    <input type="text" class="form-control" placeholder="Email" autofocus>
                    <input type="password" class="form-control" placeholder="Password">
                    <span class="clearfix"></span>
                </div>
                <div class="login-footer">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="left-section">
                                <a href="">Forgot your password?</a>
                                <a href="">Sign up now</a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 pull-right">
                            <button type="submit" class="btn btn-large btn-danger pull-right">Login</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</body>
</html>