{% extends 'layouts/base.html' %}

{% block content %}
<header class="main-header">
  <div class="main-header__overlay">
    <div class="main-header__wrapper container">
      <div class="main-header__left">
        <h1 class="main-header__heading">Fitness Time</h1>
        <h2 class="main-header__heading_h2">Твой помошник в тренировках</h2>
        <p class="main-header__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique autem, atque in voluptatibus repellat nostrum iusto architecto vel placeat numquam omnis assumenda.</p>
        <div class="main-header__action">
          <a href="{% url 'main-app' %}" class="main-header__button">Перейти к приложению</a>
        </div>
      </div>

      <div class="main-header__right">
        <div class="main-header__img-wrapper">
          <img class="main-header__img" src="static/images/phone.png" alt="phone">
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}
