{% extends 'layouts/base.html' %}

{% block content %}
<!-- ====== Header Section ====== -->
<header class="main-header">
  <div class="main-header__overlay">
    <div class="main-header__wrapper container section__paddings">
      <div class="main-header__left">
        <h1 class="main-header__heading">Fitness Time</h1>
        <h2 class="main-header__heading_h2">Твой помошник в тренировках</h2>
        <p class="main-header__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique autem, atque in voluptatibus repellat nostrum iusto architecto vel placeat numquam omnis assumenda.</p>
        <div class="main-header__action">
          <a href="{% url 'main-app' %}" class="main-header__button">Перейти к приложению</a>
        </div>
      </div>

      <div class="main-header__right">
        <div class="main-header__img-wrapper">
          <img class="main-header__img" src="static/images/phone.png" alt="phone">
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ====== End Features Section ====== -->

<!-- ====== Features Section ====== -->
  <section class="main-features">
    <div class="container section__paddings">
      <div class="section__headline">
        <h1 class="section__heading">Amazing Features</h1>
        <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos, ipsum id, architecto velit sequi fuga minima commodi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, dolor repellat quasi.</p>
        <div class="section__underline">
          <i class="section__icon section__icon_briefcase"></i>
        </div>
      </div>

      <div class="main-features__wrapper">
        <div class="main-features__left">
          <div class="main-features__img-wrapper">
            <img class="main-features__img" src="static/images/phone.png" alt="phone">
          </div>
        </div>
        <div class="main-features__right">
          <div class="main-features__item">
            <div class="main-features__icon-wrapper">
              <div class="main-features__icon main-features__icon_mobile"></div>
            </div>
            <div class="main-features__info">
              <h3 class="main-features__headline">Responsive Design</h3>
              <p class="main-features__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
            </div>
          </div>
          <div class="main-features__item">
            <div class="main-features__icon-wrapper">
              <div class="main-features__icon main-features__icon_mobile"></div>
            </div>
            <div class="main-features__info">
              <h3 class="main-features__headline">Responsive Design</h3>
              <p class="main-features__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
            </div>
          </div>
          <div class="main-features__item">
            <div class="main-features__icon-wrapper">
              <div class="main-features__icon main-features__icon_mobile"></div>
            </div>
            <div class="main-features__info">
              <h3 class="main-features__headline">Responsive Design</h3>
              <p class="main-features__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
            </div>
          </div>
          <div class="main-features__item">
            <div class="main-features__icon-wrapper">
              <div class="main-features__icon main-features__icon_mobile"></div>
            </div>
            <div class="main-features__info">
              <h3 class="main-features__headline">Responsive Design</h3>
              <p class="main-features__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
            </div>
          </div>
          <div class="main-features__item">
            <div class="main-features__icon-wrapper">
              <div class="main-features__icon main-features__icon_mobile"></div>
            </div>
            <div class="main-features__info">
              <h3 class="main-features__headline">Responsive Design</h3>
              <p class="main-features__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
            </div>
          </div>
          <div class="main-features__item">
            <div class="main-features__icon-wrapper">
              <div class="main-features__icon main-features__icon_mobile"></div>
            </div>
            <div class="main-features__info">
              <h3 class="main-features__headline">Responsive Design</h3>
              <p class="main-features__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
<!-- ====== End Features Section ====== -->

<!-- ====== Screenshots Section ====== -->
<section class="main-screenshots">
    <div class="container section__paddings">
      <div class="section__headline">
        <h1 class="section__heading">Amazing Features</h1>
        <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos, ipsum id, architecto velit sequi fuga minima commodi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, dolor repellat quasi.</p>
        <div class="section__underline">
          <i class="section__icon section__icon_briefcase"></i>
        </div>
      </div>

      <div class="main-screenshots__images">
        <div class="main-screenshots__img-item">
          <img class="main-screenshots__img" src="static/images/app.jpg" alt="item photo">
        </div>
        <div class="main-screenshots__img-item">
          <img class="main-screenshots__img" src="static/images/app2.jpg" alt="item photo">
        </div>
        <div class="main-screenshots__img-item">
          <img class="main-screenshots__img" src="static/images/app.jpg" alt="item photo">
        </div>
      </div>
    </div>
</section>
<!-- ====== End Screenshots Section ====== -->

<!-- ====== Download Section ====== -->
<section class="main-download">
    <div class="main-download__overlay">
      <div class="main-download__wrapper section__paddings">
        <div class="container">

          <div class="section__headline">
            <h1 class="section__heading section__heading_white">Amazing Features</h1>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos, ipsum id, architecto velit sequi fuga minima commodi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, dolor repellat quasi.</p>
            <div class="section__underline">
              <i class="section__icon section__icon_briefcase"></i>
            </div>
          </div>

          <div class="main-download__items">
            <a href="{% url 'main-app' %}" class="main-download__item">
              <i class="main-download__icon main-download__icon_desctop"></i>
              <div class="main-download__info">
                <div>Available in</div>
                <strong>Browser</strong>
              </div>
            </a>
            <a href="#" class="main-download__item">
              <i class="main-download__icon main-download__icon_google"></i>
              <div class="main-download__info">
                <div>Get it on</div>
                <strong>Google Play</strong>
              </div>
            </a>
            <a href="#" class="main-download__item">
              <i class="main-download__icon main-download__icon_apple"></i>
              <div class="main-download__info">
                <div>Soon at</div>
                <strong>App Store</strong>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- ====== End Download Section ====== -->

<!-- ====== Copyright Section ====== -->
<section class="main-copyright container">
  <p class="main-copyright__paragraph">&copy; 2016 <a class="main-copyright__link" href="#">Fitness Time</a>, All Rights Reserved</p>
</section>
<!-- ====== End Copyright Section ====== -->

{% endblock %}
