.main-screenshots {
  background-color: #F2F3FD;

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__img-item {
    max-width: 390px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
