.main-screenshots {
  background-color: #F2F3FD;

  &__images {
    display: flex;
    flex-wrap: wrap;
  }

  &__img-item {
    width: $width * 4;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
