.profile {

  &__info-block {
    display flex;
    padding: 10px 20px;
    border-bottom: 2px solid $material-blue-rgba-medium;
  }

  &__user-img {
    border: 1px solid $material-blue-rgba-medium;
    padding: 2px;
  }

  &__user-info {
    align-self: center;
    margin-left: 30px;

  }

  &__username {
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__user-mail {
    font-size: 14px;
  }
}
