.button {
  width: calc(50% - 5px);
  padding: 10px 0;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  background-color: $material-blue;

  &:disabled {
    background-color: lighten($material-blue, 25%);
  }

  &_cancel {
    background-color: $material-red;
    margin-left: 10px;
  }

  &_add {
    display: inline-block;
    margin-top: $gutter-big;
    text-decoration: none;
    padding: 10px 20px;
  }

  &__round {
    position: fixed;
    bottom: 22px;
    right: 22px;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);

    &:hover {
      background-color: darken($material-blue, 5%);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 16px;
    background: url(../images/plus.svg) no-repeat center;
    background-size: contain;
  }

  &__delete {
    width: 45px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: $white;
    border: none;
    background: url(../images/delete.svg) no-repeat center;
    background-size: 20px;
    transition: all .3s ease;

    &:hover {
      background-size: 28px;
    }
  }

  &__edit {
    @extend .button__delete;
    background-image: url(../images/pencil-icon.svg);
    left: 45px;
  }
}
