.workout-item {
  text-align: center;

  &__trigger {
    display: block;
  }

  &__name {
    position: relative;
    color: $text-color;
    padding: $gutter-big;
    border-bottom: 2px solid $material-blue-rgba-medium;
    cursor: pointer;
    background: $white;
  }

  &__full-data {
    text-align: left;
    padding: $gutter-big;
    background-color: $background;
    border-bottom: 2px solid $material-blue-rgba-medium;
  }

  &__info{
    display: flex;
    margin-bottom: 10px;
  }

  &__description{
    flex-grow: 1;
    padding-top: 15px;
  }

  &__description-name {
    display: inline-block;
    width: 100px;
  }

  &__repeats, &__weight {
    margin-bottom: 5px;
  }

  &__image {
    cursor: pointer;
  }

  &__no-image {
    height: 100px;
    background-image: url(../Images/noimage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__wrapper {
    transition: height 1s ease;
    overflow: hidden;
  }

  &__timer-warn {
    animation-name: timer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

@keyframes timer {
    from { background-color: $background; }
    50% { background-color: orange; }
    to { background-color: $background; }
}
