.menu {

  &_header {
    position: relative;
  }

  &__trigger {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2px;
    padding: 0;
    background-color: $white;
    border: none;
    background: url(../Images/show-more2.svg) no-repeat center;
    background-size: 18px;

    &_header {
      background-image: url(../Images/show-more.svg);
      width: 100%;
      right: 0;
      background-size: 26px;
      background-position: 9px;
    }
  }

  &__wrapper {
    position: absolute;
    z-index: 10;
    top: 45px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px $box-shadow-light, 0 3px 6px $box-shadow;
    display: inline-block;
    width: 200px;
    border: 1px solid #E0E0E0;

    &_header {
      top: 40px;
      right: 10px;
    }
  }

  &__item {
    text-align: left;
    display: block;
    padding: 12px;
    text-decoration: none;
    color: $text-color;

    &:not(:last-child) {
      border-bottom: 2px solid #E0E0E0;
    }
  }
}
