@import "./AppComponent/AppComponent";
@import "./HeaderComponent/HeaderComponent";
@import "./StopwatchComponent/StopwatchComponent";
@import "./FormComponent/FormComponent";
@import "./WorkoutItemComponent/WorkoutItemComponent";
@import "./WorkoutTrainingComponent/WorkoutTrainingComponent";
@import "./PaginationComponent/PaginationComponent";
@import "./MenuComponent/MenuComponent";
