.asd {
  background-color: #85c8c5;
  padding: 50px;
}
.login {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

  &__label {
    display: block;
    outline: none;
    border: 1px solid $login-form-color;
    border-radius: 5px;
    margin: 0 auto 15px;
    width: 60%;
  }

  &__input {
    outline: none;
    box-sizing: border-box;
    border: 0 solid transparent;
    width: calc(100% - 28px);
    border-radius: 0 4px 4px 0;
    padding-left: 7px;
    height: 38px;
    transition: border 1s ease;

    &:focus {
      border: 1px solid $login-form-color;
      border-left: none;
    }

    &:hover {
      border: 1px solid $login-form-color;
      border-left: none;
    }
  }

  &__icon {
    float: left;
    border-radius: 4px 0 0 4px;
    width: 28px;
    height: 38px;
    background:  no-repeat 2px 7px $login-form-color;
    background-size: 24px;

    &_user {
      background-image: url(../images/user.svg);
    }

    &_password {
      background-image: url(../images/lock.svg);
      background-size: 20px;
      background-position: 4px 10px;
    }
  }



  &__social-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;

    &_gp {
      background: #DE4C34;

      &:hover {
        background-color: #CE3E26;
      }
    }

    &_vk {
      background: #5480b1;

      &:hover {
        background-color: #507299;
      }
    }
  }

  &__social-icon {
    float: left;
    width: 43px;
    height: 40px;

    &_gp {
      background: #CE3E26 url(../images/gp.svg) 6px no-repeat;
      background-size: 30px;
    }

    &_vk {
      background: #507299 url(../images/vk.svg) 6px no-repeat;
      background-size: 30px;
    }
  }

  &__social-name {
    display: inline-block;
    padding: 11px;
  }
}
