//Colors
$text-color = #6b7b8a;

$material-blue= #3498DB;
$material-blue-rgba-light = alpha($material-blue, 0.2);
$material-blue-rgba-medium = alpha($material-blue, 0.5);
$material-red = #e94043;
$material-orange = #f6774f;
$light-grey = alpha(#d3e0e8, 0.4);
$background = #f6f6f6;
$white = #fff;

//Gutters

$gutter = 10px;
$gutter-big = 20px;

//Classes
.removed {
  display: none;
}

.hidden {
  visibility: hidden;
}
