//Colors
$text-color: #6b7b8a;

$material-blue: #3498DB;
$material-blue-rgba-light: rgba(52, 152, 219, .2);
$material-blue-rgba-medium: rgba(52, 152, 219, .5);
$material-red: #e94043;
$material-orange: #f6774f;
$background: #f6f6f6;
$white: #fff;

//Gutters

$gutter: 10px;
$gutter-big: 20px;

//Mixins
@mixin border-radius($radius: 3px) {
  border-radius: $radius;
}
