.stopwatch {
  margin-bottom: 10px;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__rest-timer, &__repeat-count {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  &__button {

    &_stop {
      background-color: $material-red;
      margin-left: $gutter;
    }

    &_pause {
      display: none;
      background-color: $material-orange;
    }
  }

  &__finish {
    display: inline-block;
    margin-bottom: $gutter;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
  }
}
