.stopwatch {
  margin-bottom: 10px;

  &__rest-timer {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: #dcdcdc;
    padding: 10px;
  }

  &__controls {
    text-align: center;
  }

  &__finish {
    margin-bottom: $gutter;
    font-size: 1.3rem;
    text-align: center;
  }
}
